<h2><%= @dog.name %></h2>
<h3><%= @dog.motto %></h3>

<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-8 mt-4">
      <div class="card text-center shadow mb-5 bg-white rounded">
       
        <div class="card-body">
         
         
          <%= link_to "Edit", edit_dog_path(@dog), class: "btn btn-outline-info" %>
          <%= link_to "Delete", dog_path(@dog), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
         
        </div>
        <div class="card-footer text-muted">
          <small>Created <%= time_ago_in_words(@dog.created_at) %> ago, 
          edited <%= time_ago_in_words(@dog.updated_at) %> ago</small>
        </div>
      </div>
    </div>
  </div>
</div>



<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
